<div *ngIf="gameGroup$ | async as gameGroup">
  <app-section-wrapper>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <h1 class="mb-2">{{ isEditingEssentialInfo ? currentCampaignName : gameGroup.campaignName }}</h1>
          <app-tooltip 
            [text]="isEditingEssentialInfo ? ('COMMON.CLOSE' | translate) : ('COMMON.EDIT' | translate)"
            position="bottom"
            [delay]="300">
            <button
              class="btn text-white p-2"
              (click)="toggleEssentialInfoEdit()"
            >
              <mat-icon [svgIcon]="isEditingEssentialInfo ? 'mdi-close' : 'mdi-pencil'" class="icon-sm"></mat-icon>
            </button>
          </app-tooltip>
        </div>
      </div>
      
      <div class="row" *ngIf="!isEditingEssentialInfo">
        <div class="col-12">
          <span class="badge bg-success mb-2" *ngIf="gameGroup.isActive">
            {{ "PAGE.GAME_GROUP.DETAIL.STATUS.ACTIVE" | translate }}
          </span>
          <p class="text-muted">
            {{ gameGroup.gameSystem }}
            | {{ gameGroup.settingWorld }} | {{ getModalityLabel(gameGroup.modality) }} |
            {{ "PAGE.GAME_GROUP.DETAIL.CURRENT_PARTICIPANTS" | translate }} {{ gameGroup.currentParticipants?.toString() }} {{ "COMMON.OF" | translate }}
            {{ gameGroup.maxPlayers?.toString() }}
          </p>
        </div>
      </div>
  
      <div *ngIf="isEditingEssentialInfo" class="row row-gap-3">
        <app-form-input
          [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.CAMPAIGN_NAME' | translate"
          [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.CAMPAIGN_NAME' | translate"
          [control]="$any(essentialInfoForm.get('campaignName'))"
          fieldName="campaignName"
          col="12"
          (blurEvent)="onFieldBlur($event)"
        ></app-form-input>
        
        <app-form-input
          [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.GAME_SYSTEM' | translate"
          [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.GAME_SYSTEM' | translate"
          [control]="$any(essentialInfoForm.get('gameSystem'))"
          fieldName="gameSystem"
          col="12"
          colMd="6"
          (blurEvent)="onFieldBlur($event)"
        ></app-form-input>
        
        <app-form-input
          [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.SETTING_WORLD' | translate"
          [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.SETTING_WORLD' | translate"
          [control]="$any(essentialInfoForm.get('settingWorld'))"
          fieldName="settingWorld"
          col="12"
          colMd="6"
          (blurEvent)="onFieldBlur($event)"
        ></app-form-input>
        
        <app-form-textarea
          [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.SHORT_DESCRIPTION' | translate"
          [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.SHORT_DESCRIPTION' | translate"
          [control]="$any(essentialInfoForm.get('shortDescription'))"
          fieldName="shortDescription"
          col="12"
          [rows]="3"
          (blurEvent)="onFieldBlur($event)"
        ></app-form-textarea>
        
        <app-form-number-input
          [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.MAX_PLAYERS' | translate"
          placeholder="6"
          [control]="$any(essentialInfoForm.get('maxPlayers'))"
          fieldName="maxPlayers"
          numberType="integer"
          [min]="1"
          [max]="20"
          col="12"
          (blurEvent)="onFieldBlur($event)"
        ></app-form-number-input>

        <app-form-radio
           [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.VISIBILITY' | translate"
           [control]="$any(essentialInfoForm.get('visibility'))"
           fieldName="visibility"
           name="visibility"
           [options]="visibilityOptions"
           col="12"
           (changeEvent)="onFieldChange($event)"
         ></app-form-radio>

         <app-form-select
           [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.ACCESS_RULE' | translate"
           [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.ACCESS_RULE' | translate"
           [control]="$any(essentialInfoForm.get('accessRule'))"
           fieldName="accessRule"
           [options]="accessRuleOptions"
           col="12"
           (blurEvent)="onFieldBlur($event)"
         ></app-form-select>

         <app-form-radio
           [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.MODALITY' | translate"
           [control]="$any(essentialInfoForm.get('modality'))"
           fieldName="modality"
           name="modality"
           [options]="modalityOptions"
           col="12"
           (changeEvent)="onFieldChange($event)"
         ></app-form-radio>


      </div>
    </div>
  </app-section-wrapper>
  
  <app-section-wrapper>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-end mb-3">
          <app-tooltip 
            [text]="isEditingDescription ? ('COMMON.CLOSE' | translate) : ('COMMON.EDIT' | translate)"
            position="bottom"
            [delay]="300">
            <button
              class="btn btn-sm"
              (click)="toggleDescriptionEdit()"
            >
              <mat-icon [svgIcon]="isEditingDescription ? 'mdi-close' : 'mdi-pencil'" class="icon-sm"></mat-icon>
            </button>
          </app-tooltip>
        </div>
        <div class="col-12">
          <div *ngIf="!isEditingDescription" class="markdown-body">
             <div *ngIf="descriptionContent; else noDescription">
               <markdown [data]="descriptionContent"></markdown>
             </div>
             <ng-template #noDescription>
               <p class="text-muted fst-italic">{{ 'PAGE.GAME_GROUP.DETAIL.NO_DESCRIPTION' | translate }}</p>
             </ng-template>
           </div>
           <div *ngIf="isEditingDescription">
             <app-form-textarea 
                [control]="descriptionControl" 
                [placeholder]="'PAGE.GAME_GROUP.DETAIL.DESCRIPTION_PLACEHOLDER' | translate" 
                [rows]="20" 
                resize="vertical"
                fieldName="description"
                (blurEvent)="onDescriptionBlur()"> 
              </app-form-textarea>
             <span class="text-muted">{{ 'PAGE.GAME_GROUP.DETAIL.DESCRIPTION_MARKDOWN_INFO' | translate }}</span>
           </div>
        </div>
      </div>
    </div>
  </app-section-wrapper>
  
  <app-section-wrapper>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center mb-3">
          <h1>{{ "PAGE.GAME_GROUP.DETAIL.ADVENTURES" | translate }}</h1>
          <app-tooltip 
            [text]="'COMMON.EDIT' | translate"
            position="bottom"
            [delay]="300">
            <button
              class="btn btn-sm"
              (click)="toggleDescriptionEdit()"
              *ngIf="!isEditingDescription"
            >
              <mat-icon svgIcon="mdi-pencil" class="icon-sm"></mat-icon>
            </button>
          </app-tooltip>
        </div>
        <div class="col-12">
           <p>{{ "PAGE.GAME_GROUP.DETAIL.NO_ADVENTURES" | translate }}</p>
         </div>
      </div>
    </div>
  </app-section-wrapper>
  
  <app-section-wrapper>
    <div class="container-fluid">
      <div class="row row-gap-3">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <h1 class="mb-2">{{ "PAGE.GAME_GROUP.DETAIL.PARTICIPANTS" | translate }}</h1>
          <app-tooltip 
            [text]="'COMMON.EDIT' | translate"
            position="bottom"
            [delay]="300">
            <button
              class="btn btn-sm"
              (click)="toggleDescriptionEdit()"
              *ngIf="!isEditingDescription"
            >
              <mat-icon svgIcon="mdi-pencil" class="icon-sm"></mat-icon>
            </button>
          </app-tooltip>
        </div>

        <div class="col-12 d-flex flex-column gap-3">
          <div 
            class="w-100 border-1 border-bottom border-primary py-2 px-3 d-flex justify-content-between align-items-center"
            *ngFor="let participant of sortedParticipants$ | async"
          >
            <div class="d-flex align-items-center gap-2">
              <span class="fw-bold">{{ participant.username | uppercase }}</span>
              <span 
                class="badge"
                [class.bg-success]="participant.role === 'MASTER'"
                [class.bg-info]="participant.role === 'PLAYER'"
              >
                {{ participant.role === 'MASTER' ? ('PAGE.GAME_GROUP.MY_GROUPS.ROLE.MASTER' | translate) : ('PAGE.GAME_GROUP.MY_GROUPS.ROLE.PLAYER' | translate) }}
              </span>
            </div>
            <div class="text-muted">
              <app-tooltip
                [text]="('COMMON.CREATED_AT' | translate) + ': ' + (participant.createdAt | date:'medium')"
                position="left"
                [autoCloseOnClick]="true"
                [autoCloseDelay]="1500"
                style="cursor: pointer; user-select: none;"
              >
                <mat-icon svgIcon="mdi-calendar" class="icon-sm" style="cursor: pointer; user-select: none;"></mat-icon>
              </app-tooltip>
            </div>
          </div>
          
          <div 
            class="w-100 text-center py-3 text-muted"
            *ngIf="(sortedParticipants$ | async)?.length === 0"
          >
            <p>{{ "PAGE.GAME_GROUP.DETAIL.NO_PARTICIPANTS" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </app-section-wrapper>
  
  <app-section-wrapper #rulesSection>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <h1>{{ "PAGE.GAME_GROUP.DETAIL.RULES_GUIDELINES" | translate }}</h1>
          <app-tooltip 
            [text]="isEditingRules ? ('COMMON.CLOSE' | translate) : ('COMMON.EDIT' | translate)"
            position="bottom"
            [delay]="300">
            <button
              class="btn text-white p-2"
              (click)="toggleRulesEdit()"
            >
              <mat-icon [svgIcon]="isEditingRules ? 'mdi-close' : 'mdi-pencil'" class="icon-sm"></mat-icon>
             </button>
          </app-tooltip>
        </div>
        
        <div *ngIf="!isEditingRules" class="col-12">
          <div *ngIf="gameGroup$ | async as gameGroup">
            <div *ngIf="currentThemesContent || currentPunctualityAttendance || currentHouseRules || currentBehavioralExpectations; else noRules">
              
              <div *ngIf="currentThemesContent" class="mb-3 mt-3">
                <h5 class="fw-bold">{{ 'PAGE.GAME_GROUP.DETAIL.LABELS.THEMES_CONTENT' | translate }}</h5>
                <p class="text-muted">{{ currentThemesContent }}</p>
              </div>
              
              <div *ngIf="currentPunctualityAttendance" class="mb-3">
                <h5 class="fw-bold">{{ 'PAGE.GAME_GROUP.DETAIL.LABELS.PUNCTUALITY_ATTENDANCE' | translate }}</h5>
                <p class="text-muted">{{ currentPunctualityAttendance }}</p>
              </div>
              
              <div *ngIf="currentHouseRules" class="mb-3">
                <h5 class="fw-bold">{{ 'PAGE.GAME_GROUP.DETAIL.LABELS.HOUSE_RULES' | translate }}</h5>
                <p class="text-muted">{{ currentHouseRules }}</p>
              </div>
              
              <div *ngIf="currentBehavioralExpectations" class="mb-3">
                <h5 class="fw-bold">{{ 'PAGE.GAME_GROUP.DETAIL.LABELS.BEHAVIORAL_EXPECTATIONS' | translate }}</h5>
                <p class="text-muted">{{ currentBehavioralExpectations }}</p>
              </div>
            </div>
            
            <ng-template #noRules>
              <p>{{ "PAGE.GAME_GROUP.DETAIL.NO_RULES" | translate }}</p>
            </ng-template>
          </div>
        </div>
        
        <div *ngIf="isEditingRules" class="row row-gap-3">
          <app-form-textarea
            [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.THEMES_CONTENT' | translate"
            [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.THEMES_CONTENT' | translate"
            [control]="$any(rulesForm.get('themesContent'))"
            fieldName="themesContent"
            col="12"
            [rows]="3"
            (blurEvent)="onFieldBlur($event)"
          ></app-form-textarea>
          
          <app-form-textarea
            [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.PUNCTUALITY_ATTENDANCE' | translate"
            [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.PUNCTUALITY_ATTENDANCE' | translate"
            [control]="$any(rulesForm.get('punctualityAttendance'))"
            fieldName="punctualityAttendance"
            col="12"
            [rows]="3"
            (blurEvent)="onFieldBlur($event)"
          ></app-form-textarea>
          
          <app-form-textarea
            [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.HOUSE_RULES' | translate"
            [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.HOUSE_RULES' | translate"
            [control]="$any(rulesForm.get('houseRules'))"
            fieldName="houseRules"
            col="12"
            [rows]="4"
            (blurEvent)="onFieldBlur($event)"
          ></app-form-textarea>
          
          <app-form-textarea
            [label]="'PAGE.GAME_GROUP.DETAIL.LABELS.BEHAVIORAL_EXPECTATIONS' | translate"
            [placeholder]="'PAGE.GAME_GROUP.DETAIL.PLACEHOLDERS.BEHAVIORAL_EXPECTATIONS' | translate"
            [control]="$any(rulesForm.get('behavioralExpectations'))"
            fieldName="behavioralExpectations"
            col="12"
            [rows]="4"
            (blurEvent)="onFieldBlur($event)"
          ></app-form-textarea>
        </div>
      </div>
    </div>
  </app-section-wrapper>
</div>

