<form 
  *ngIf="formGroup" 
  [formGroup]="formGroup" 
  [class]="formClass"
  (ngSubmit)="onSubmit()"
>
  <div class="row row-gap-1">
  
    <ng-content></ng-content>

  
    <div [class]="buttonsContainerClass">
  
      <ng-container *ngIf="customButtonsTemplate; else defaultButtons">
        <ng-container *ngTemplateOutlet="customButtonsTemplate"></ng-container>
      </ng-container>

  
      <ng-template #defaultButtons>
        <button
          *ngIf="showResetButton"
          type="button"
          [class]="resetButtonClass"
          [disabled]="disabled"
          (click)="onReset()"
        >
          {{ resetButtonText }}
        </button>

        <button
          *ngIf="showSubmitButton"
          type="submit"
          [class]="submitButtonClass"
          [disabled]="disabled || loading"
        >
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          {{ submitButtonText }}
        </button>
      </ng-template>
    </div>
  </div>
</form>