@if (confirmationModalService.getModal(); as modal) {
  <div 
    class="modal-backdrop"
    (click)="onBackdropClick($event)"
    (keydown)="onKeyDown($event)"
  >
    <dialog class="modal-dialog" open>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ modal.title }}
          </h5>
          <button 
            type="button" 
            class="btn-close" 
            aria-label="Fechar modal"
            (click)="cancel()"
          ></button>
        </div>

        <div class="modal-body">
          <p>
            {{ modal.message }}
          </p>
        </div>

        <div class="modal-footer">
          <button 
            type="button" 
            [class]="getCancelButtonClasses(modal.cancelButtonClass)"
            (click)="cancel()"
          >
            {{ modal.cancelText }}
          </button>
          <button 
            type="button" 
            [class]="getConfirmButtonClasses(modal.confirmButtonClass)"
            (click)="confirm()"
          >
            {{ modal.confirmText }}
          </button>
        </div>
      </div>
    </dialog>
  </div>
}