select.form-control.custom-select {
  &::placeholder {
    color: var(--color-secondary) !important;
    opacity: 0.8;
  }
  
  &.text-muted {
    color: var(--color-secondary) !important;
    opacity: 0.8;
  }
  
  &.is-invalid {
    color: var(--color-error);
    border-color: var(--color-error);
    
    &::placeholder {
      color: var(--color-error) !important;
      opacity: 1;
    }
    
    &.text-muted {
      color: var(--color-error) !important;
    }
  }
  
  option[disabled] {
    color: var(--color-secondary) !important;
    opacity: 0.8;
  }
  
  option:first-child[disabled] {
    color: var(--color-secondary) !important;
    opacity: 0.8;
  }
  
  option:not([disabled]) {
    color: var(--color-foreground) !important;
  }
}
