<h4 class="card-title mb-3">{{ 'PAGE.GAME_GROUP.CREATE.STEPS.ESSENTIAL_INFO' | translate }}</h4>
<div class="row row-gap-3">
  <app-form-input
    [label]="'PAGE.GAME_GROUP.CREATE.FIELDS.CAMPAIGN_NAME' | translate"
    [placeholder]="'PAGE.GAME_GROUP.CREATE.FIELDS.CAMPAIGN_NAME_PLACEHOLDER' | translate"
    [control]="$any(form.get('campaignName'))"
    fieldName="campaignName"
    col="12"
  />

  <app-form-input
    [label]="'PAGE.GAME_GROUP.CREATE.FIELDS.GAME_SYSTEM' | translate"
    [placeholder]="'PAGE.GAME_GROUP.CREATE.FIELDS.GAME_SYSTEM_PLACEHOLDER' | translate"
    [control]="$any(form.get('gameSystem'))"
    fieldName="gameSystem"
    col="12"
    colMd="6"
  />

    <app-form-input
    [label]="'PAGE.GAME_GROUP.CREATE.FIELDS.SETTING_WORLD' | translate"
    [placeholder]="'PAGE.GAME_GROUP.CREATE.FIELDS.SETTING_WORLD_PLACEHOLDER' | translate"
    [control]="$any(form.get('settingWorld'))"
    fieldName="settingWorld"
    col="12"
    colMd="6"
  />

  <app-form-textarea
    [label]="'PAGE.GAME_GROUP.CREATE.FIELDS.SHORT_DESCRIPTION' | translate"
    [placeholder]="'PAGE.GAME_GROUP.CREATE.FIELDS.SHORT_DESCRIPTION_PLACEHOLDER' | translate"
    [control]="$any(form.get('shortDescription'))"
    fieldName="shortDescription"
    col="12"
    [rows]="3"
  />





  <app-form-number-input
    [label]="'PAGE.GAME_GROUP.CREATE.FIELDS.MAX_PLAYERS' | translate"
    placeholder="6"
    [control]="$any(form.get('maxPlayers'))"
    fieldName="maxPlayers"
    numberType="integer"
    [min]="2"
    [max]="20"
    col="12"
    colMd="4"
  />
</div>